*{
  padding: 0;margin: 0;
}
:root {
  --primary-color: #1E88E5;
  --secondary-color: #D32F2F;
  --accent-color:#6A1B9A;
  --bg-light-color: #F5F7FA;
  --bg-dark-color: #121212;
  --primary-text:#212121;
  --secondary-text:#616161;
  --text-on-buttons:#ffffff;
  
}

